body{background-image:url("../image/call_of_duty_black_ops_desktop_1920x1080_hd-wallpaper-912990.jpg");
    background-size: 100% 100%}

.member_save_center{
    padding-left: 45px;
    padding-top: 15px;
    background: 1px rgba(0, 0, 0, 0.7);
    width: 400px;
    border-radius: 20px;
    height: 260px;position: absolute;
}

.member_save_center td{
font:small-caps bold 18px Lucida Grande;
color: #fff;
    }

.member_save_center input{
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.3);
    border-style:inherit;
    height: 24px
}

#mem_sav_sub{
    border-radius: 3px;
    border-color:darkred;
    background-color: #fff;
    float: right;
    color: ThreeDDarkShadow;
    box-shadow: 0 0 0;cursor: pointer
}

#mem_sav_sub:hover {
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.3)}

.giris-yap a{
    margin-left:2px ;
    float: left;
    padding: 4px 5px 4px 5px;
    width: 55px;
    font: small-caption;
    background-color: #fff;
    font-family: Arial,  Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 3px;
    text-decoration: none;
    color: ThreeDDarkShadow;
}
.giris-yap a:hover{
    box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.3)
}