body {
    margin: 0;
    height: 0;
    }

.logindiv{
    border-bottom-left-radius: 120px;
    background: 1px rgba(100, 100,100, 0.7);
    padding: 10px;
    margin-top: -50px;
    color: white;
    width: auto;
    float: right;
    height: auto;
    }

.logindiv li{
list-style-type:none;
font-family: Sans-serif;
font-weight: bold;
list-style-type:none;
display:inline;
    }

.logindiv li a{
    margin-right: 13px ;
    border-radius: 5px;
    background: 1px rgba(100, 0, 0, 0.5);
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    padding: 5px 15px;
    color: #ccc
}
.logindiv li a:hover{
    background: 1px rgba(100, 0, 0, 0.3);
    color: #ddd;
}

.username{
    text-transform: capitalize;
    font-family: 'Metrophobic', Arial, serif; font-weight:bold;
    background: 1px rgba(200, 0, 0, 0.5);
    border-bottom-right-radius: 120px;
    padding: 7px;
    width: 150px;
    font-weight: bold;
}