body {
    margin: 0;
    height: 0;
    }

.logindiv{
    border-bottom-left-radius: 120px;
    background: 1px rgba(100, 100,100, 0.7);
    padding: 10px;
    margin-top: -50px;
    color: white;
    width: auto;
    height: auto;
    float: right;
    }

.logindiv li{
list-style-type:none;
font-family: Sans-serif;
font-weight: bold;
list-style-type:none;
display:inline;
    }

.logindiv li a{
    margin-right: 13px ;
    border-radius: 5px;
    background: 1px rgba(100, 0, 0, 0.5);
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    padding: 5px 15px;
    color: #ccc
}
.logindiv li a:hover{
    background: 1px rgba(100, 0, 0, 0.3);
    color: #ddd;
}

.text_add{
    width:auto;
    height: auto;
    margin-left: 210px;
    margin-top: -35px;
    position: absolute;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background: 1px rgba(255, 255, 255, 0.3);
    float: left;
    padding: 2px 15px 2px 15px;
}
#text_box{
    border-color: #990000;
    border-radius: 5px;
    box-shadow: none;

}
.text_add_submit {
    box-shadow: none;
    border-radius: 5px;
    background: 1px rgba(100, 0, 0, 0.7);
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    padding: 5px;
    color: #ccc;
    font-family: Arial,  Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.text_add_submit:hover{
    box-shadow: none;
    background: 1px rgba(100, 0, 0, 0.5);
    color: #ddd;
    cursor: pointer;
}

.username{
    text-transform: capitalize;
    font-family: 'Metrophobic', Arial, serif; font-weight:bold;
    background: 1px rgba(200, 0, 0, 0.5);
    border-bottom-right-radius: 120px;
    padding: 7px;
    width: 150px;
    font-weight: bold;
}
.text_null_input{
    font-family: Arial,  Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #990000;
    position: absolute;
    margin-top: 10px;
    box-shadow: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
    background: 1px rgba(255, 255, 255, 0.7);
    padding: 3px 15px 3px 5px;
}

.text_area{
    height: 500px;
    width: 800px;
    background: #ffffff;
    margin: 60px auto;
    border-radius: 8px;
}